@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Inter:wght@200;300;500&family=Joan&family=Lobster&family=Nuosu+SIL&family=Puppies+Play&family=Redressed&family=Syne+Tactile&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}
:root{
    --site-color:#f69859;
    --bg-color:#f2cdb5;
    --card-body-color:#edb48e;
}
.beautyBanner{
    background-color: #f2cdb5;
    height: 70vh;
}
.beautyquote{
    text-align: center;
}
.beautyquote h1{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    margin-bottom: 50px;
}
.beautyquote p{
    font-size: 10px;
    color: var(--site-color);
    letter-spacing: 5px;
    padding: 20px;
}
.card{
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    margin-left: 50px;
    width: 18rem;
}
.card img{
    height: 250px;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
}
.card-body{
    background-color:var(--card-body-color);
}
.card::before{
    content: "";
    position: absolute;
    bottom: -50px;
    left: 5%;
    width: 90%;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
   filter: blur(5px);
}
/* Banner */

/* Treatment */
.treatment{
    margin-top: 15%;
    background-color: #f2cdb5;
    height: 50vh;
}
.treatmentImg{
    position: relative;
    width: 350px;
    left: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}
.treatmentImg img{
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); */
}
    
    
.treatmentText p{
    font-size: 10px;
    color: var(--site-color);
    letter-spacing: 5px;
    padding: 20px;
    text-align: center;
    padding-top: 30px;
}
.treatmentP p{
    color:var(--site-color);
    letter-spacing: 0px;
    font-size: 13px;
    word-spacing: 3px;
    text-align: center;
    text-indent: 10%;
}

button{
    border: none;
    border-radius: 30px;
    padding:10px 15px;
    background-color:var(--site-color);
    color: #fff;
    margin-top: 10px;
    margin-left: 40%;
}
.treatmentText h1{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    text-align: center;
}
/* Treatment End */

/* Healthy Start */
.healthyImg{
    margin-top: 50px;
}
.healthyImg img{
    width: 200px;
    height: 200px;
    margin: 25px;
    border: 2px solid var(--card-body-color);
    /* border-radius: 20px; */
}
.healthyText p{
    font-size: 10px;
    color: var(--site-color);
    letter-spacing: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.healthyText h1{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    text-align: center;
}
/* healty End */

/* Talk */
.talk{
    background-color:var(--card-body-color);
    height: 60vh;
    margin-top: 50px;
    position: relative;
}
.talkText h1{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    padding-top: 80px;
}
.talkText p{
    font-size: 10px;
    color: var(--site-color);
    letter-spacing: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.talkText{
    position: absolute;
    width: 400px;
    height: 50vh;
    margin-top: 70px;
    background-color: #f2cdb5;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 39%;

}
/* talk ENd */

/* Media */
@media (max-width:1200px) {
    .beautyBanner {
        background-color: #f2cdb5;
        height: 60vh;
      }
      .treatment {
        margin-top: 15%;
        background-color: #f2cdb5;
        height: 45vh;
      }
      .treatmentText h1 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-weight: 500;
        text-align: center;
        margin-top: -8px;
      }
      .treatmentP p {
        color: var(--site-color);
        letter-spacing: 0px;
        font-size: 13px;
        word-spacing: 3px;
        text-align: center;
        text-indent: 10%;
        margin-top: -11px;
      }
      button {
        border: none;
        border-radius: 30px;
        padding: 10px 15px;
        background-color: var(--site-color);
        color: #fff;
        margin-top: 5px;
        margin-left: 38%;
      }
      .treatmentImg {
        position: relative;
        width: 350px;
        left: 23%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      .healthyImg {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 45px;
      }
      .healthyImg {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 45px;
      }
      .talkText {
        position: absolute;
        width: 400px;
        height: 50vh;
        margin-top: 85px;
        background-color: #f2cdb5;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-left: 33%;
      }
}

/* 992px */
@media (max-width:992px) {
    .card{
        width: 16rem;
      margin-left: 20px;

    }
    .card img {
        height: 240px;
        border-top-left-radius: 60%;
        border-top-right-radius: 60%;
      }
}

/* 768px */
@media (max-width:768px) {
    .card {
        width: 14rem;
        margin-left: 52px;
      }
    .card img{
        height: 190px;
    }
    .card-text{
        font-size: 15px;
    }
    .beautyBanner {
        background-color: #f2cdb5;
        height: 55vh;
      }
    .treatment {
        margin-top: 60%;
        background-color: #f2cdb5;
        height: 36vh;
      }
    .treatmentText button {
        border: none;
        border-radius: 30px;
        padding: 10px 15px;
        background-color: var(--site-color);
        color: #fff;
        margin-top: 5px;
        margin-left: 41%;
      }
      .treatmentImg {
        position: relative;
        width: 350px;
        left: 25%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      .healthyText p {
        font-size: 10px;
        color: var(--site-color);
        letter-spacing: 5px;
        padding: 20px;
        text-align: center;
        margin-top: 58%;
      }
      .healthyImg img{
        margin-left: 60px;
      }
      .talkText {
        position: absolute;
        width: 390px;
        height: 45vh;
        margin-top: 84px;
        background-color: #f2cdb5;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-left: 24%;
      }
      .talk {
        background-color: var(--card-body-color);
        height: 55vh;
        margin-top: 50px;
        position: relative;
      }
}

/* 576px */
@media (max-width:576px) {
    .card {
        width: 14rem;
        margin-left: 12px;
      }
      .card img {
        height: 190px;
        margin-top: -22px;
      }
      .my-sm-3 {
        margin-top: 4rem !important;
        margin-bottom: 1rem !important;
      }
      .treatment {
        margin-top: 79%;
        background-color: #f2cdb5;
        height: 36vh;
      }
      .treatmentText button {
        border: none;
        border-radius: 30px;
        padding: 10px 15px;
        background-color: var(--site-color);
        color: #fff;
        margin-top: -14px;
        margin-left: 41%;
      }
      .treatmentImg {
        position: relative;
        width: 350px;
        left: 18%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      .healthyText p {
        font-size: 10px;
        color: var(--site-color);
        letter-spacing: 5px;
        padding: 20px;
        text-align: center;
        margin-top: 79%;
        margin-bottom: 0px;
      }
      .healthyText h1 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-weight: 500;
        text-align: center;
        margin-bottom: -25px;
      }
      .healthyImg {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 90px;
      }
      .healthyImg img {
        margin-left: 43px;
      
        width: 250px;
        height: 231px;
    }
    .talkText {
        position: absolute;
        width: 334px;
        height: 43vh;
        margin-top: 84px;
        background-color: #f2cdb5;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-left: 24%;
      }
    .talkText button {
        border: none;
        border-radius: 30px;
        padding: 10px 15px;
        background-color: var(--site-color);
        color: #fff;
        margin-top: -7px;
        margin-left: 34%;
      }
      .talkText {
        position: absolute;
        width: 334px;
        height: 43vh;
        margin-top: 100px;
        background-color: #f2cdb5;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-left: 21%;
      }
}
